<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="mailServer" value="smtp.gmail.com"/>
        <add key="sender" value="dd@gmail.com"/>
        <add key="receiver" value="dd@gmail.com"/>
        <add key="pass" value="hehe"/>
        <add key="port" value="587"/>
        <add key="api_key" value="gfsgdds"/>
        <add key="azureApiUrl" value="fdsfsdfsd"/>
    </appSettings>
    <connectionStrings>
        <add name="db" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=Sentiment;Integrated Security=SSPI;"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>